<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Chat Rooms</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/account">Account</a>
        </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown" *ngIf="isLoggedIn; then accountOperation else loginLink"></li>
        <ng-template #loginLink>
            <a class="nav-link" routerLink="/login">Login</a>
        </ng-template>
        <ng-template #accountOperation>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.username}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logOff()">Log-off</a>
            </div>
        </ng-template>
        
        </ul>
        
    </div>
</nav>

<router-outlet></router-outlet>